extends layout

block content

  div.row
    div.col-md-12
      form(id='profil-form' class='action-form' method='POST' data-action='save-profile' action='/users/save-profile')
        div.form-group
          label(for='bio') Bio
          textarea.form-control(id='bio' name='bio' placeholder='Bio') #{data.bio}
        input.form-control(type='hidden' id='username' name='username' value=data.username)
        button.btn.btn-primary(type='submit') Edit profil


