extends layout

block content

  if auth
    div.row
      div.col-md-12
        form(id='trade-form' class='action-form' method='POST' data-action='add-trade' action='/trades/add')
          div.form-group
            label(for='title') Title
            input.form-control(type='text' id='title' name='title' placeholder='Title')
          div.form-group
            label(for='description') Description
            textarea.form-control(id='description' name='description' placeholder='Description')
          input.form-control(type='hidden' id='book' name='book' value=book)
          input.form-control(type='hidden' id='receiver' name='receiver' value=receiver)
          input(type='submit' name='submit' id='submit' class='btn btn-primary' value='Submit trade'
  else
    p You can't view this content

