extends layout

block content

  div.row
    div.col-md-12
      h1= title

  div.row
    div.col-md-12
      h2 Info

  if (data !== null)
    div.row
      div.col-md-12
        p <strong>Name :</strong> #{data.name}
        p <strong>Bio :</strong> #{data.bio}
        if (auth && data._id === user)
          p
            a(class='btn btn-primary' href='users/edit-profile/' + data._id) Edit profile

  if (auth && data._id === user)
    div.row
      div.col-md-12
        h2 Your trades
    div.row
      div.col-md-12
        - var trades = userTrades
        include trades.pug
    div.row
      div.col-md-12
        h2 Trades you have received
    div.row
      div.col-md-12
        - var trades = receivedTrades
        include trades.pug

  div.row
    div.col-md-12
      h2 Books

  div.row
    div.col-md-12
      include list.pug