/**
 * freeCodeCamp - Back End Development Certification - Dynamic Web Application Projects
 * Style
 * 
 * @author MLBORS
 * @version 1.0.0.0
 * @since 2017.11.20
 * @for freeCodeCamp
 */

/*****************/
/***** STYLE *****/
/*****************/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img.responsive-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#main .row {
  margin-bottom: 30px;
}

#main .row:last-of-type {
  margin-bottom: 0;
}

#main ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

#main ul li {
  margin-bottom: 6px;
}

#main ul li:last-of-type {
  margin-bottom: 0;
}

#main form ul {
  padding-left: 15px;
  list-style-type: none;
}

#main #message-info {
  display: none;
}

#footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.grid-item {
  float: left;
  border: 2px solid #c1c1c1;
}

.grid-sizer,
.grid-item {
  width: 20%; 
}

.grid-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.grid-item img,
.grid-item h3,
.grid-item p {
  margin-bottom: 15px;
}

.grid-item p:last-of-type {
  margin-bottom: 0;
}

.grid-item .btn {
  margin-left: 5px;
}

#main ul.trades-list {
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  clear: both;
}

#main ul li.trade-item .btn {
  margin-left: 5px;
}